---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  name: mssqldatabases.provisioning.totalsoft.ro
spec:
  group: provisioning.totalsoft.ro
  names:
    kind: MsSqlDatabase
    listKind: MsSqlDatabaseList
    plural: mssqldatabases
    singular: mssqldatabase
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.platformRef
      name: Platform
      type: string
    - jsonPath: .spec.domains
      name: Domains
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            properties:
              dbName:
                description: Database name prefix. Will have platform and tenant suffix.
                type: string
              dependsOn:
                description: List of dependencies
                items:
                  properties:
                    kind:
                      description: Kind is a string value representing the REST resource
                        this dependency represents.
                      type: string
                    name:
                      description: ' The name of the dependency.'
                      type: string
                  required:
                  - kind
                  - name
                  type: object
                type: array
              domainRef:
                description: Business Domain that this resource is provision for.
                type: string
              exports:
                items:
                  properties:
                    dbName:
                      properties:
                        toConfigMap:
                          properties:
                            keyTemplate:
                              type: string
                          required:
                          - keyTemplate
                          type: object
                        toKubeSecret:
                          properties:
                            keyTemplate:
                              type: string
                          required:
                          - keyTemplate
                          type: object
                        toVault:
                          properties:
                            keyTemplate:
                              type: string
                          required:
                          - keyTemplate
                          type: object
                      type: object
                    domain:
                      description: The domain or bounded-context in which this database
                        will be used.
                      type: string
                  required:
                  - domain
                  type: object
                type: array
              importDatabaseId:
                description: |-
                  Existing database to be used instead of creating a new one
                  eg: "2"
                type: string
              ownerLoginName:
                description: Login name to be set as the database owner
                type: string
              platformRef:
                description: Target platform (custom resource name).
                type: string
              restoreFrom:
                default:
                  backupFilePath: ""
                description: Restore from backup. Leave empty for a new empty database.
                properties:
                  backupFilePath:
                    description: The backup file to restore from. Should be located
                      on the SQL server machine.
                    type: string
                  logicalDataFileName:
                    description: The logical name of the data file in the backup.
                    type: string
                  logicalFileStreamFileName:
                    description: The logical name of the file stream file in the backup.
                    type: string
                  logicalLogFileName:
                    description: The logical name of the log file in the backup.
                    type: string
                required:
                - backupFilePath
                type: object
              sqlServer:
                description: Sql Server spec. New database will be created on this
                  server
                properties:
                  hostName:
                    description: Sql Server host name.
                    type: string
                  port:
                    description: Sql server endpoint port
                    type: integer
                  sqlAuth:
                    description: Sql server authentication
                    properties:
                      password:
                        description: Sql server password
                        type: string
                      username:
                        description: Sql server username
                        type: string
                    required:
                    - password
                    - username
                    type: object
                required:
                - hostName
                - port
                - sqlAuth
                type: object
              target:
                default:
                  category: Tenant
                description: The provisioning target.
                properties:
                  category:
                    default: Tenant
                    description: 'Provisioning target type. Possible values: Tenant,
                      Platform'
                    enum:
                    - Tenant
                    - Platform
                    type: string
                  filter:
                    description: |-
                      Filter targets (applies for category "Tenant").
                      If ommited all targets are selected.
                    properties:
                      kind:
                        default: Blacklist
                        description: 'Includes or excludes the speciffied targets.
                          Possibile values: Blacklist, Whitelist'
                        enum:
                        - Blacklist
                        - Whitelist
                        type: string
                      values:
                        description: A list of targets to include or exculde
                        items:
                          type: string
                        type: array
                    required:
                    - kind
                    type: object
                required:
                - category
                type: object
              tenantOverrides:
                additionalProperties:
                  x-kubernetes-preserve-unknown-fields: true
                description: |-
                  Overrides for tenants. Dictionary with tenant name as key, spec override as value.
                  The spec override has the same structure as Spec
                type: object
            required:
            - dbName
            - domainRef
            - platformRef
            - restoreFrom
            - sqlServer
            - target
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources: {}
